.container {
	height: 1250px;
	width: auto;
	background-color: white;
}

.nav {
	background-color: white;
	height: 150px;
	width: 100%;
	position: absolute;
	top: 0px;
}

	.home {
		font-family: mrs-eaves, serif;
		font-style: normal;
		font-size: 35px;
		padding-left: 50px;
		padding-top: 35px;
		position: absolute;
		cursor: pointer;
		text-decoration: none;
	}

	.links {
		font-family: mr-eaves-modern, sans-serif;
		font-style: normal;
		font-weight: 100;
		font-size: 16px;
		float: right;
		width: 20%;
		padding-right: 10px;
		padding-top: 50px;
		position: relative;
		color: #492513;
		cursor: pointer;
		text-decoration: none;
	}

		.links:hover {
			font-weight: bolder;
			color: #008E71;
		}	

		a {
			text-decoration: none;
			color: #492513;
		}

			a:hover {
				color: #008E71;
			}

	.active {
		font-weight: bold;
		color: #008E71;
	}

.copy {
	font-family: mr-eaves-modern, sans-serif;
	font-style: normal;
	font-weight: 100;
	font-size: 16px;
	color: #492513;
	width: 260px;
	position: relative;
	left: 20px;
	top: 20px;
}

.copybox {
	position: fixed;
	height: 520px;
	width: 300px;
	background: white;
	z-index: 9;
	top: 40px;
	bottom: 0;
	right: 90px;
	margin: auto;
	opacity: 0;
	animation: boxSlide 2s forwards;
}

	@keyframes boxSlide{
		0% {right: -400px; top: 40px; opacity: 0;}
		100% {opacity: 1;}
	}

.bgillus img {
 	width: 100%;
  	height: auto;
  	background-repeat: no-repeat;
  	position: absolute;
  	top: 100px;
}

.foot {
	background-color: white;
	height: 150px;
	width: 100%;
	top: 1100px;
	position: absolute;
}

.footer {
	font-family: mr-eaves-modern, sans-serif;
	font-style: normal;
	font-weight: 100;
	font-size: 14px;
	padding-left: 50px;
	padding-top: 45px;
	color: #492513;
	width: 270px;
	position: relative;
}




